/* עיצוב לעמוד הבית */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    text-align: center;
    /* padding: 20px; */
    border-radius: 10px;
}

/* כותרת */
.home-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(67, 64, 64);
    margin-bottom: 20px;
}

/* תמונת העוגה */
.home-image {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* כפתורים */
.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    color: #f50380;
}

.home-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.home-button:hover {
    transform: scale(1.05);
}
